<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
         <!--CSS: Fixos-->
        <%- include('../partials/head-links'); %>
        <!--CSS: Login-->

        <link rel="stylesheet" href="assets\css\usuario\sucesso-evento.css">


        <!--JS: Scripts (head)-->
        <%- include('../partials/head-js'); %>
        <!--Titulo da Página-->
        <title>Login</title>
    </head>
    <body>
        <!--Header-->
        <%- include('../partials/header'); %>
        <main id="conteudo">
            <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
            <script>
                new window.VLibras.Widget('https://vlibras.gov.br/app');
            </script>
            

  


            
        </main>
        <!--Footer-->
        <%- include('../partials/footer'); %>
        <!--JS: Scripts (body)-->
        <%- include('../partials/body-js'); %>
    </body>
</html>