<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
         <!--CSS: Fixos-->
        <%- include('../partials/head-links'); %>
        <!--CSS: Login-->
        <link rel="stylesheet" href="assets\css\formularios\login.css">
        <!--JS: Scripts (head)-->
        <%- include('../partials/head-js'); %>
        <!--Titulo da Página-->
        <title>Login</title>
    </head>
    <body>
        <!--Header-->
        <%- include('../partials/header'); %>
        <main id="conteudo">
            <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
            <script>
                new window.VLibras.Widget('https://vlibras.gov.br/app');
            </script>
            <div class="container">
                <section class="login">       
                    <form  class="login__form" action="/login/executar" method="POST">
                        <h1 class="login__titulo">Iniciar Sessão</h1>
                        <div class="login__form-campo">
                            <label class="campo__label-email" for="email">E-mail:</label>
                            <input class="campo__input-email" type="email" name="email"  required placeholder="Digite aqui o seu e-mail"><br>
                            <label class="campo__label-senha" for="senha" >Senha:</label>
                            <input class="campo__input-senha" type="password" name="senha"  required placeholder="Digite aqui a sua senha">                     
                        </div>
                        <div class="login__form-botao"><br>
                            <input class="botao__enviar" type="submit" value= "Entrar" >
                        </div>
                        <div class="login__form-link"><br>
                            <p><a class="link__recuperarSenha" href="#">Esqueci minha senha</a></p>
                        </div>
                    </form>
                    <% if(mensagemLogin) { %>
                        <p>
                            <label style="color: red"><%= mensagemLogin %></label>
                        </p>
                    <%}%>
                </section>
            </div>

        </main>
        <!--Footer-->
        <%- include('../partials/footer'); %>
        <!--JS: Scripts (body)-->
        <%- include('../partials/body-js'); %>
    </body>
</html>