<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!--Metadados-->
        <%- include('../partials/head-meta'); %>
        <!--CSS: Fixos-->
        <%- include('../partials/head-links'); %>
        <!--CSS: incrição em eventos-->
        <link rel="stylesheet" href="assets\css\formularios\evento-incricao.css">
        <!--JS: Scripts (head)-->
        <%- include('../partials/head-js'); %>
        <!--Titulo da Página-->
        <title>Eventos</title>
    </head>
    <body>
        <!--Header-->
        <%- include('../partials/header'); %>
        <main id="conteudo">
            <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
            <script>
                new window.VLibras.Widget('https://vlibras.gov.br/app');
            </script>
                <div class="container">
                    <section class="evento-inscricao">       
                        <form  class="evento__form" method="POST">
                            <h1 class="form__titulo">Compra de Ingressos</h1>
                            <div class="form__campos">
                                <label for="cpf">CPF</label>
                                <input type="number" name="cpf" required placeholder="999.999.999-99">
                                <label for="quantidade">Quantidade:</label>
                                <input type="number" name="quantidade">
                                <label for="data">Escolha a data:</label>
                                <input type="date" name="data">
                                <label for="preco">Preço Total:</label>
                                <input type="text" name="preco">   
                            </div>
                            <div class="form__botoes"><br>
                                <input class="form__botoes-comprar" type="submit" value= "Comprar Agora" >
                            </div>
                        </form>
                    </section>
                    <section class="evento">
                        <div class="evento__data">
                            <p>10-05-22</p>
                        </div>
                        <div class="evento__banner">
                            <img src="assets\img\eventos\divulgacao_corrida.jpg" alt="Imagem de divulgação XXXXXXX">
                        </div>
                        <div class="evento__titulo">
                            <p class="evento__titulo-p">FATEC RUN</p>
                        </div>
                    </section>
                </div>
        </main>
        <!--Footer-->
        <%- include('../partials/footer'); %>
        <!--JS: Scripts (body)-->
        <%- include('../partials/body-js'); %>
    </body>
</html>